/* Styles for Main Content */
main {
    max-width: 840px;
}

/* Styles for Aside Section */
aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}

/* Image inside Aside */
aside img {
    width: 200px;
    height: auto;
}

/* Styles for Profile Image */
main img {
    width: 150px;
    height: auto;
}

/* Remove Padding from Paragraphs */
p {
    padding: 0;
}

/* Styles for Footer */
footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}
